.container
  .article-form-container
    .col-sm-6
      = form_for @article do |f|
        = f.text_area :title, class: "title-form preview-form"
        = f.text_area :content, cols: "30", rows: "10", class: "content-form input-form", id: 'js-markdown-input'
        .input-button-container
          = f.collection_select :category_id, Category.all, :id, :name, prompt: "カテゴリー選択"
          = f.submit
    .col-sm-6
      .article_content-preview
        .content-form.preview-form#js-markdown-preview
