.work.col-sm-6.col-md-4
  = image_tag image_url(image), class: "work__thumbnail"
  .work__caption
    %h3.work__title
      = title
    %p.type
      = type
    %h3.work__role
      = role
    %p.description
      = description

