.work.col-sm-6
  .row
    = image_tag image_url(work.work_images.first.content.thumb), class: "work__thumbnail"
    .work__caption
      %h3.work__title
        = work.title
      %p.type
      %h3.work__role
        = work.role
      %p.work__description
        = work.description
      = link_to "詳細", work_path(work), class: "work__detail-link"

