!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .navbar.container
        .navbat-header
          .navbar-header__left.col-xs-6
            .row
              = link_to root_path do
                %h1 まげぶろ
          .navbar-header__right.col-xs-6
            .row
              #bs-example-navbar-collapse-1.collapse.navbar-collapse.link
                %ul.nav.navbar-nav
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      メニュー
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        = link_to "ポートフォリオ", works_path
                      %li
                        = link_to "自己紹介", profiles_path
    = yield
    %footer
      .container
        .footer-left
          %p.copyright Copyright (c) 2016 Ryosuke Maehira
