!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .navbar
        .container
          = link_to root_path do
            %h1 まげぶろ
    = yield
    %footer
      .container
        .footer-left
          %p.copyright Copyright (c) 2016 Ryosuke Maehira
